<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue测试</title>

    <script src="lib/vue.js"></script>
    <!-- 因为 AJAX 库和通用工具的生态已经相当丰富，Vue 核心代码没有重复 -->
    <!-- 提供这些功能以保持精简。这也可以让你自由选择自己更熟悉的工具。 -->
    <script src="lib/axios.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script>

    </script>

    <style>
        .active {
            background-color: green;
        }

        .text-danger {
            background-color: red;
        }

        .static {
            color: yellow;
        }
    </style>
</head>
<body>
<div id="app">
    声明式渲染 , message= {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    v-bind绑定DOM元素：鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>

    <!--条件与循环-->
    <p v-if="see">vue条件判断v-if指令</p>
    <ol>
        <li v-for="item in todos">
            {{item.text}}
        </li>
    </ol>

    <!--处理用户输入-->
    <p>{{rvsmsg}}</p>
    <button v-on:click="reverseMessage">反转消息</button>

    <!--v-model 指令，它能轻松实现表单输入和应用状态之间的双向绑定-->
    <br>
    <p>{{inputmsg}}</p>
    <input v-model="inputmsg">

    <!--组件化构建应用-->
    <ol>
        <def-item v-for="item in groceryList" v-bind:myatr="item" v-bind:key="item.id"></def-item>
    </ol>

    <!--插值-原始html-->
    <p>Using mustache: {{rawHtml}}</p>
    <p> Using v-html :<span v-html="rawHtml"></span></p>

    <span v-bind:id="'list-'+id01"></span>

    <!--动态参数-->
    <!--    <a v-on:['focus']="btnEvent">动态参数</a>-->

    <!--计算属性-->
    <p>Original message: "{{ message }}"</p>
    <p>Use Computed message: "{{ getNowTimeComputed }}"</p>
    <p>Use Method message: "{{ reverseMessage }}"</p>

    <p> fullName: {{fullName}}</p>

    <!--watch侦听器-->
    <p style="vertical-align: center;">
        Ask a yes/no question:
        <input v-model="question">
        <img v-bind:src="imgUrl" style="width: 80px;height: 50px">
    </p>
    <p>{{ answer }}</p>

    <!--Class与style绑定-->
    <p class="static" v-bind:class="classObj">Class与style绑定</p>
    <p class="static" v-bind:class="[activeClass,errorClass]">Class与style绑定[activeClass,errorClass]</p>
    <p class="static" v-bind:class="[act?activeClass:'',errorClass]">Class与style绑定-条件判断</p>

    <p v-bind:style="styleObject">绑定内联样式</p>
    <p v-bind:style="[baseStyles,overridingStyles]">绑定内联样式-数组语法</p>
</div>

<script type="application/javascript">
    Vue.component('def-item', {
        // todo-item 组件现在接受一个 "prop"，类似于一个自定义 attribute。这个 prop 名为 todo。
        props: ['myatr'],
        template: '<li>{{myatr.text}}</li>',
    });

    var app = new Vue({
        el: '#app',
        data: {
            message: '123',
        }
    });
    var app2 = new Vue({
        el: '#app-2',
        data: {
            question: '',
            isAct: true,
            error: null,

            act: false,
            activeClass: 'active',
            errorClass: 'text-danger',

            styleObject: {
                color: 'red',
                fontSize: '13px',
                fontWeight: 'bold',
            },
            baseStyles: {
                color: 'red',
            },
            overridingStyles: {
                color: 'green',
            },

            answer: 'I cannot give you an answer until you ask a question!',
            id01: '001',
            firstName: 'Foo',
            imgUrl: '',
            lastName: 'Bar',
            message: '页面加载于:' + new Date().toLocaleString(),
            rvsmsg: 'Hello Vue.js!',
            inputmsg: 'v-model指令',
            rawHtml: '<span style="color: red">原始Html内容</span>',
            see: true,
            todos: [{text: 'v-for循环item1'}, {text: 'v-for循环item2'}, {text: 'v-for循环item3'}],
            groceryList: [
                {id: 0, text: '蔬菜'},
                {id: 1, text: '奶酪'},
                {id: 2, text: '随便其它什么人吃的东西'}
            ],
        },
        computed: {
            /*class与style绑定*/
            classObj: function () {
                return {
                    'active': this.isAct && !this.error,
                    'text-danger': this.error && this.error.type === 'fatal',
                }
            },
            // 计算属性的 getter
            fullName: function () {
                // `this` 指向 vm 实例
                return this.firstName + ' ' + this.lastName;
            },
            getterAndSettter: {
                /*计算属性的 getter 和  setter*/
                get: function () {
                    console.log("计算属性的get方法调用了")
                    return this.firstName + ' ' + this.lastName;
                },
                set: function (newValue) {
                    console.log("计算属性的set方法调用了")
                    var names = newValue.split(' ');
                    this.firstName = names[0];
                    this.lastName = names[names.length - 1];
                }
            },
            getNowTimeComputed: function () {
                return new Date().toLocaleString();
            }
        },
        methods: {
            reverseMessage: function () {
                this.rvsmsg = this.rvsmsg.split('').reverse().join('');
            },
            btnEvent: function () {
                console.log("btnEvent");
            },
            getAnswer: function () {
                if (this.question.indexOf('?') === -1) {
                    this.answer = 'Questions usually contain a question mark. ;-)'
                    return
                }
                this.answer = 'Thinking...'
                var vm = this
                axios.get('https://yesno.wtf/api')
                    .then(function (response) {
                        vm.answer = _.capitalize(JSON.stringify(response.data))
                        vm.imgUrl = response.data.image;
                    })
                    .catch(function (error) {
                        vm.answer = 'Error! Could not reach the API. ' + error
                    })
            },
        },
        created: function () {
            // `this` 指向 vm 实例
            console.log('Vue created: message is: ' + this.message);
            // `_.debounce` 是一个通过 Lodash 限制操作频率的函数。
            // 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率
            // AJAX 请求直到用户输入完毕才会发出。想要了解更多关于
            // `_.debounce` 函数 (及其近亲 `_.throttle`) 的知识，
            // 请参考：https://lodash.com/docs#debounce
            this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
        },
        watch: {
            // 如果 `question` 发生改变，这个函数就会运行
            question: function (newQuestion, oldQuestion) {
                console.log("newQuestion=" + newQuestion + ",oldQuestion=" + oldQuestion)
                this.answer = 'Waiting for you to stop typing...'
                this.debouncedGetAnswer()
            },
        },
        mounted: function () {
            console.log('Vue mounted');
        },
        updated: function () {
            console.log('Vue updated');
        },
        destroyed: function () {
            console.log('Vue destroyed');
        }
    });

    app2.getterAndSettter = "Geng  Qiyun";
</script>
</body>
</html>
