<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue测试</title>

    <script src="lib/vue.js"></script>
    <!-- 因为 AJAX 库和通用工具的生态已经相当丰富，Vue 核心代码没有重复 -->
    <!-- 提供这些功能以保持精简。这也可以让你自由选择自己更熟悉的工具。 -->
    <script src="lib/axios.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script>

    </script>

    <style>
        .active {
            background-color: green;
        }

        .text-danger {
            background-color: red;
        }

        .static {
            color: yellow;
        }

        .tab-button {
            padding: 6px 10px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border: 1px solid #ccc;
            cursor: pointer;
            background: #f0f0f0;
            margin-bottom: -1px;
            margin-right: -1px;
        }

        .tab-button:hover {
            background: #e0e0e0;
        }

        .tab-button.active {
            background: green;
        }

        .tab {
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>
<body>

<div id="app">
    声明式渲染 , message= {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    v-bind绑定DOM元素：鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>

    <!--条件与循环-->
    <p v-if="see">vue条件判断v-if指令</p>
    <ol>
        <li v-for="item in todos">
            {{item.text}}
        </li>
    </ol>

    <!--处理用户输入-->
    <p>{{rvsmsg}}</p>
    <button v-on:click="reverseMessage">反转消息</button>

    <!--v-model 指令，它能轻松实现表单输入和应用状态之间的双向绑定-->
    <br>
    <p>{{inputmsg}}</p>
    <input v-model="inputmsg">

    <!--组件化构建应用-->
    <ol>
        <def-item v-for="item in groceryList" v-bind:myatr="item" v-bind:key="item.id"></def-item>
    </ol>

    <!--插值-原始html-->
    <p>Using mustache: {{rawHtml}}</p>
    <p> Using v-html :<span v-html="rawHtml"></span></p>

    <span v-bind:id="'list-'+id01"></span>

    <!--动态参数-->
    <!--    <a v-on:['focus']="btnEvent">动态参数</a>-->

    <!--计算属性-->
    <p>Original message: "{{ message }}"</p>
    <p>Use Computed message: "{{ getNowTimeComputed }}"</p>
    <p>Use Method message: "{{ reverseMessage }}"</p>

    <p> fullName: {{fullName}}</p>

    <!--watch侦听器-->
    <p style="vertical-align: center;">
        Ask a yes/no question:
        <input v-model="question">
        <img v-bind:src="imgUrl" style="width: 80px;height: 50px">
    </p>
    <p>{{ answer }}</p>

    <!--Class与style绑定-->
    <p class="static" v-bind:class="classObj">Class与style绑定</p>
    <p class="static" v-bind:class="[activeClass,errorClass]">Class与style绑定[activeClass,errorClass]</p>
    <p class="static" v-bind:class="[act?activeClass:'',errorClass]">Class与style绑定-条件判断</p>

    <p v-bind:style="styleObject">绑定内联样式</p>
    <p v-bind:style="[baseStyles,overridingStyles]">绑定内联样式-数组语法</p>

    <br>
    <hr>
    <!--条件渲染-->
    <template v-if="loginType==='uname'">
        <label>Username:</label>
        <input placeholder="Enter your username" key="username-input">
    </template>
    <template v-else>
        <label>Email:</label>
        <input placeholder="Enter your Email" key="email-input">
    </template>

    <!--替换数组-->
    <ul>
        <li v-for="num in evenNumbers">替换数组item: {{num}}</li>
    </ul>

    <!--    <ul v-for="set of sets">-->
    <!--        <li v-for="num of evenNumbersWithArg(set)">替换数组item: {{num}}</li>-->
    <!--    </ul>-->

    <!--在 v-for 里使用值范围-->
    <span v-for="n in 10">{{ n }} </span>

    <ul>
        <!--在 <template> 上使用 v-for-->
        <template v-for="num in evenNumbers">
            <li>{{num}}</li>
        </template>
    </ul>

    <!--表单输入绑定-->
    <!--文本-->
    <input v-model="formtext" placeholder="edit me">
    <p>Message is: {{formtext}}</p>
    <!--多行文本-->
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ formtextarea }}</p>
    <textarea v-model="formtextarea" placeholder="add multiple lines"></textarea>

    <br>
    <!--复选框-->
    <input type="checkbox" id="jack" value="Jack" v-model="formCheckedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="formCheckedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="formCheckedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ formCheckedNames }}</span>
    <br>
    <br>
    <!--单选按钮  formradio存储的是  选中-->
    <input type="radio" id="formradio" value="One" v-model="formradio">
    <label for="formradio">One</label>
    <input type="radio" id="two" value="Two" v-model="formradio">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ formradio }}</span>

    <br>
    <br>

    <!--选择框-->
    <!--单选-->
    <select v-model="vselect">
        <option value="">请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected: {{ vselect }}</span>
    <br>
    <br>

    <!--多选-->
    <select v-model="vmultiselect" multiple style="width: 50px">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>Selected: {{ vmultiselect }}</span>
    <br>
    <br>
    <!--v-for 渲染的动态选项-->
    <select v-model="vselect">
        <option v-for="option in selectoptions" v-bind:value="option.value">{{option.text}}</option>
    </select>
    <span>Selected: {{ vselect }}</span>
    <br>
    <br>

    <!--修饰符  -->
    <!-- .lazy 当input输入完毕且失去焦点时 才会更新value-->
    <input v-model.lazy="vlazy" placeholder="lazy测试">
    <label>{{vlazy}}</label>
    <br>
    <br>
    <!-- .trim()-->
    <input v-model.trim="vtrim" placeholder="vtrim测试">
    <label style="background-color: red;color: white">{{vtrim}}</label>
    <br>
    <br>
    <!--组件基础-->
    <button-counter></button-counter>
    <br>
    <br>
    <!--通过 Prop 向子组件传递数据-->
    <blog-post title="张三"></blog-post>
    <br>
    <!--使用 v-for 循环创建-->
    <blog-post v-for="item in postsdata" v-bind:key="item.id" v-bind:title="item.title"></blog-post>
    <br>
    <br>

    <!-- 监听子组件事件    $emit传递 自定义事件 enlarge-text  给父组件-->
    <div :style="{ fontSize: postFontSize + 'em' }">
        <blog-post2
                v-for="post in postsdata"
                v-bind:key="post.id"
                v-on:enlarge-text="onEnlargeText"
                v-bind:post="post"
        ></blog-post2>
    </div>
    <br>
    <br>
    <!--通过插槽 slot 分发内容-->
    <alert-box>
        Something bad happened.
    </alert-box>

    <!--动态组件  v-bind:is命令-->
    <div id="dynamic-component-demo" class="demo">
        <button
                v-for="tab in tabs"
                v-bind:key="tab"
                v-bind:class="['tab-button', { active: currentTab === tab }]"
                v-on:click="currentTab = tab">
            {{ tab }}
        </button>

        <!-- 失活的组件将会被缓存！-->
        <keep-alive>
            <component v-bind:is="currentTabComponent" class="tab"></component>
        </keep-alive>
    </div>
</div>

<script type="application/javascript">
    function Person(firstName, lastName) {
        this.firstName = firstName
        this.lastName = lastName
    }

    /*Prop 验证*/
    Vue.component('my-component', {
        propG: Function,  // 函数类型
        propH: Person,  // 自定义函数类型
        // 基础的类型检查 (`null` 和 `undefined` 会通过任何类型验证)
        propA: Number,
        // 多个可能的类型
        propB: [String, Number],
        // 必填的字符串
        propC: {
            type: String,
            required: true
        },
        // 带有默认值的数字
        propD: {
            type: Number,
            default: 100
        },
        // 带有默认值的对象
        propE: {
            type: Object,
            default: function () {
                return {defmsg: 'Hellno'};
            }
        },
        // 自定义验证函数
        propF: {
            validator: function (value) {
                // 这个值必须匹配下列字符串中的一个
                return ['success', 'warning', 'danger'].indexOf(value) !== -1;
            }
        },
    });

    Vue.component('def-item', {
        // todo-item 组件现在接受一个 "prop"，类似于一个自定义 attribute。这个 prop 名为 todo。
        props: ['myatr'],
        template: '<li>{{myatr.text}}</li>',
    });

    Vue.component('button-counter', {
        data: function () {
            return {
                count: 0,
            };
        },
        template: '<button v-on:click="count++">You click me {{count}} times!</button>',
    });

    Vue.component('blog-post', {
        props: ['title'],
        template: '<h5 style="margin: 0;padding: 0">我的姓名是：{{title}}</h5>',
    });

    Vue.component('blog-post2', {
        props: ['post'],
        template: `
            <div class="blog-post2">
                <h3>{{ post.title }}</h3>
                <button v-on:click="$emit('enlarge-text',0.2)">Enlarge text</button>
                <div v-html="post.content"></div>
            </div>
        `,
    });
    Vue.component('alert-box', {
        template: `
    <div class="demo-alert-box">
      <strong>Error!</strong>
      <slot></slot>
    </div>
  `
    })
    Vue.component("tab-home", {
        template: "<div>Home component</div>"
    });
    Vue.component("tab-posts", {
        data: function() {
            return {
                posts: [
                    {
                        id: 1,
                        title: "Cat Ipsum",
                        content:
                            "<p>Dont wait for the storm to pass, dance in the rain kick up litter decide to want nothing to do with my owner today demand to be let outside at once, and expect owner to wait for me as i think about it cat cat moo moo lick ears lick paws so make meme, make cute face but lick the other cats. Kitty poochy chase imaginary bugs, but stand in front of the computer screen. Sweet beast cat dog hate mouse eat string barf pillow no baths hate everything stare at guinea pigs. My left donut is missing, as is my right loved it, hated it, loved it, hated it scoot butt on the rug cat not kitten around</p>"
                    },
                    {
                        id: 2,
                        title: "Hipster Ipsum",
                        content:
                            "<p>Bushwick blue bottle scenester helvetica ugh, meh four loko. Put a bird on it lumbersexual franzen shabby chic, street art knausgaard trust fund shaman scenester live-edge mixtape taxidermy viral yuccie succulents. Keytar poke bicycle rights, crucifix street art neutra air plant PBR&B hoodie plaid venmo. Tilde swag art party fanny pack vinyl letterpress venmo jean shorts offal mumblecore. Vice blog gentrify mlkshk tattooed occupy snackwave, hoodie craft beer next level migas 8-bit chartreuse. Trust fund food truck drinking vinegar gochujang.</p>"
                    },
                    {
                        id: 3,
                        title: "Cupcake Ipsum",
                        content:
                            "<p>Icing dessert soufflé lollipop chocolate bar sweet tart cake chupa chups. Soufflé marzipan jelly beans croissant toffee marzipan cupcake icing fruitcake. Muffin cake pudding soufflé wafer jelly bear claw sesame snaps marshmallow. Marzipan soufflé croissant lemon drops gingerbread sugar plum lemon drops apple pie gummies. Sweet roll donut oat cake toffee cake. Liquorice candy macaroon toffee cookie marzipan.</p>"
                    }
                ],
                selectedPost: null
            };
        },
        template: `
  	<div class="posts-tab">
      <ul class="posts-sidebar">
        <li
          v-for="post in posts"
          v-bind:key="post.id"
          v-bind:class="{ selected: post === selectedPost }"
					v-on:click="selectedPost = post"
        >
          {{ post.title }}
        </li>
      </ul>
      <div class="selected-post-container">
      	<div
        	v-if="selectedPost"
          class="selected-post"
        >
          <h3>{{ selectedPost.title }}</h3>
          <div v-html="selectedPost.content"></div>
        </div>
        <strong v-else>
          Click on a blog title to the left to view it.
        </strong>
      </div>
    </div>
  `
    });

    Vue.component("tab-archive", {
        template: "<div>Archive component</div>"
    });

    var app = new Vue({
        el: '#app',
        data: {
            message: '123',
        }
    });

    var app2 = new Vue({
        el: '#app-2',
        data: {
            question: '',
            loginType: 'uname',
            formtext: '',
            formtextarea: '',
            postFontSize: 1,
            isAct: true,
            formradio: '',
            vselect: '',
            vlazy: '',
            vtrim: '',
            currentTab: "Home",
            tabs: ["Home", "Posts", "Archive"],
            vmultiselect: [],
            postsdata: [
                {id: 1, title: 'My journey with Vue', content: 'content1'},
                {id: 2, title: 'Blogging with Vue', content: 'content2'},
                {id: 3, title: 'Why Vue is so fun', content: 'content3'}
            ],
            selectoptions: [
                {text: 'One', value: 'A'},
                {text: 'Two', value: 'B'},
                {text: 'Three', value: 'C'}
            ],
            formCheckedNames: [],
            error: null,
            act: false,
            activeClass: 'active',
            numbers: [1, 2, 3, 4, 5],
            sets: [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
            errorClass: 'text-danger',

            styleObject: {
                color: 'red',
                fontSize: '13px',
                fontWeight: 'bold',
            },
            baseStyles: {
                color: 'red',
            },
            overridingStyles: {
                color: 'green',
            },

            answer: 'I cannot give you an answer until you ask a question!',
            id01: '001',
            firstName: 'Foo',
            imgUrl: '',
            lastName: 'Bar',
            message: '页面加载于:' + new Date().toLocaleString(),
            rvsmsg: 'Hello Vue.js!',
            inputmsg: 'v-model指令',
            rawHtml: '<span style="color: red">原始Html内容</span>',
            see: true,
            todos: [{text: 'v-for循环item1'}, {text: 'v-for循环item2'}, {text: 'v-for循环item3'}],
            groceryList: [
                {id: 0, text: '蔬菜'},
                {id: 1, text: '奶酪'},
                {id: 2, text: '随便其它什么人吃的东西'}
            ],
        },
        computed: {
            currentTabComponent: function () {
                return "tab-" + this.currentTab.toLowerCase();
            },
            /*class与style绑定*/
            classObj: function () {
                return {
                    'active': this.isAct && !this.error,
                    'text-danger': this.error && this.error.type === 'fatal',
                }
            },
            evenNumbers: function () {
                // filter实现过滤
                return this.numbers.filter(function (number) {
                    return number % 2 === 0;
                });
            },
            evenNumbersWithArg: function (numbers) {
                // filter实现过滤
                return numbers.filter(function (number) {
                    return number % 2 === 0;
                });
            },

            // 计算属性的 getter
            fullName: function () {
                // `this` 指向 vm 实例
                return this.firstName + ' ' + this.lastName;
            },
            getterAndSettter: {
                /*计算属性的 getter 和  setter*/
                get: function () {
                    console.log("计算属性的get方法调用了")
                    return this.firstName + ' ' + this.lastName;
                },
                set: function (newValue) {
                    console.log("计算属性的set方法调用了")
                    var names = newValue.split(' ');
                    this.firstName = names[0];
                    this.lastName = names[names.length - 1];
                }
            },
            getNowTimeComputed: function () {
                return new Date().toLocaleString();
            }
        },
        methods: {
            onEnlargeText: function (enlargeAmount) {
                this.postFontSize += enlargeAmount;
            },
            reverseMessage: function () {
                this.rvsmsg = this.rvsmsg.split('').reverse().join('');
            },
            btnEvent: function () {
                console.log("btnEvent");
            },
            getAnswer: function () {
                if (this.question.indexOf('?') === -1) {
                    this.answer = 'Questions usually contain a question mark. ;-)'
                    return
                }
                this.answer = 'Thinking...'
                var vm = this
                axios.get('https://yesno.wtf/api')
                    .then(function (response) {
                        vm.answer = _.capitalize(JSON.stringify(response.data))
                        vm.imgUrl = response.data.image;
                    })
                    .catch(function (error) {
                        vm.answer = 'Error! Could not reach the API. ' + error
                    })
            },
        },
        created: function () {
            // `this` 指向 vm 实例
            console.log('Vue created: message is: ' + this.message);
            // `_.debounce` 是一个通过 Lodash 限制操作频率的函数。
            // 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率
            // AJAX 请求直到用户输入完毕才会发出。想要了解更多关于
            // `_.debounce` 函数 (及其近亲 `_.throttle`) 的知识，
            // 请参考：https://lodash.com/docs#debounce
            this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
        },
        watch: {
            // 如果 `question` 发生改变，这个函数就会运行
            question: function (newQuestion, oldQuestion) {
                console.log("newQuestion=" + newQuestion + ",oldQuestion=" + oldQuestion)
                this.answer = 'Waiting for you to stop typing...'
                this.debouncedGetAnswer()
            },
        },
        mounted: function () {
            console.log('Vue mounted');
        },
        updated: function () {
            console.log('Vue updated');
        },
        destroyed: function () {
            console.log('Vue destroyed');
        }
    });

    app2.getterAndSettter = "Geng  Qiyun";
</script>
</body>
</html>
